@model Diploma.Models.ViewModels.RolesBindStructItem

@{
    ViewBag.Title = "Edit";
}

<h4>Изменить Роль</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Название роли</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Подразделение</label>
            <div class="col-md-4">
                <a class="btn btn-default" id="AllStructures">Все подразделения</a>
                <div>
                    @foreach (var item in Model.StructuresList)
                    {
                        <div>
                            <input type="checkbox" name="SelectedStructures" value="@item.Value" checked="@item.Selected" class="StructuresChecked"/>
                            <label class="control-label">@item.Text</label>
                        </div>
                    }
                </div>
            </div>

            <label class="col-md-2 control-label">Статья</label>
            <div class="col-md-4">
                <a class="btn btn-default" id="AllItems">Все статьи</a>
                <div>
                    @foreach (var item in Model.BudgetItemsList)
                    {
                        <div>
                            <input type="checkbox" name="SelectedItems" value="@item.Value" checked="@item.Selected" class="ItemsChecked" />
                            <label class="control-label">@item.Text</label>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-info" />
                @Html.ActionLink("Назад", "Index","Roles",htmlAttributes:new { @class= "btn btn-info" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AllItems').click(function () {
                if ($('#AllItems').val() == 'Все статьи') {
                    $('.ItemsChecked').attr('checked', true);
                    $('#AllItems').val('Снять выделение статей');
                }
                else {
                    $('.ItemsChecked').attr('checked', false);
                    $('#AllItems').val('Все статьи');
                }
            })
            $('#AllStructures').click(function () {
                if ($('#AllStructures').val() == 'Все подразделения') {
                    $('.StructuresChecked').attr('checked', true);
                    $('#AllStructures').val('Снять выделение подразделений');
                }
                else {
                    $('.StructuresChecked').attr('checked', false);
                    $('#AllStructures').val('Все подразделения');
                }
            })

        })
    </script>
}