@model Diploma.Models.BudgetVersion

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>
<a href="@Url.Action("CreateValueEntry","BudgetVersion",new {Version=Model.ID })" hidden="hidden" id="CreateDoc"></a>
<a href="@Url.Action("DeleteValueEntry","BudgetVersion",new {Version=Model.ID })" hidden="hidden" id="DeleteDoc"></a>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedUser.RealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
    @Html.ActionLink("Назад", "Index", "BudgetVersion",htmlAttributes:new { @class = " btn btn-info" })
<hr />
<p>        
    <a class="CreateDoc btn btn-info">Создать Документы</a>    
    <a class="DeleteDoc btn btn-warning">Удалить Документы неактивных статей или структур</a>
</p>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="@Url.Content("~/Scripts/MyScripts/CreateDeleteValueEntry.js?ver=002")" type="text/javascript"></script>
}


